language: go
sudo: false
go:
 - 1.6.2
 - tip
before_install:
 - go get -v github.com/mattn/goveralls
script:
 - make all cov
 - $HOME/gopath/bin/goveralls -service=travis-ci -coverprofile=coverage.out
